
# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log


# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# Python
__pycache__/
*.pyc

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# Arquivos temporários
.DS_Store
